---
:access_log: ""
:block_file: "block-ips.conf"
:audit_file: "spanx-audit.log"
:redis:
  :host: "127.0.0.1"
  :port: 6379
  :db: 1
:collector:
  :resolution: 300       # seconds
  :history: 21600        # seconds
  :flush_interval: 5
:log_reader:
  :tail_interval: 1
:analyzer:
  :analyze_interval: 20
  :blocked_ip_notifiers:
    - "Spanx::Notifier::AuditLog"
    - "Spanx::Notifier::Campfire"
  :period_checks:
    - :period_seconds: 3600
      :max_allowed: 2000
      :block_ttl: 7200
    - :period_seconds: 600
      :max_allowed: 600
      :block_ttl: 1200
    - :period_seconds: 21600
      :max_allowed: 8000
      :block_ttl: 64800
:writer:
  :write_interval: 10
:campfire:
  :enabled: true
  :room_id: 1111
  :token: aaffdfsdfadfasdfasdfasdf
  :account: test
